<header>
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <i class='bx bxs-tree-alt'></i>
        <div class="logo_name">AppCampo</div>
      </div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
      <li>
        <a routerLink="/">
          <i class='bx bx-home' ></i>
          <span class="links_name">Inicio</span>
        </a>
      </li>
      <li>
        <a routerLink="altaGasto">
          <i class='bx bx-line-chart-down'></i>
          <span class="links_name">Gastos</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="links_name">Ingresos</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="links_name">Estadísticas</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-map' ></i>
          <span class="links_name">Mi terreno</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="links_name">Ajustes</span>
        </a>
      </li>
    </ul>
    <div class="profile_content">
      <div class="profile">
        <div class="profile_details">
          <img src="" alt="">
          <div class="mame_job">
            <div class="name">David</div>
            <div class="job">Desarrollador</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out" ></i>
      </div>
    </div>
  </div>
</header>
